.advantages__item {
  padding-left: 80px;
  font-family: @font-family-text;
  font-size: @font-size-text-mobile;
  line-height: @line-height-text-mobile;
  font-weight: 400;
  color: @color-dark;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-top: 151px;
    font-size: 16px;
    line-height: 24px;
  }
}
