.example {
  @media (min-width: @desktop-width) {
    display: flex;
    background: url("../../img/background-grey-tablet.png") repeat-x left 145px;
  }
}

.example__options {
  @media (min-width: @desktop-width) {
    width: 50%;
  }
}
