.food-plans {
  background-color: @color-light;

  @media (min-width: @desktop-width) {
    margin-bottom: 41px;
  }
}

.food-plans__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.food-plans__item {
  padding: 30px 20px 20px 20px;
  background-color: @light-grey;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 77px 62px 53px 53px;
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    width: calc(50% - 40px);
    padding: 41px 51px 55px 52px;

    &:nth-child(odd) {
      margin-right: 80px;
    }
  }
}
