.how-it-works {
  margin-bottom: 19px;
}

.how-it-works__title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: @font-family;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @color-dark;

  @media (min-width: @tablet-width) {
    margin-top: 45px;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    column-gap: 94px;
  }
}

.how-it-works__item {
  margin-bottom: 20px;
}
