.result {
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background: url("../../img/background-grey-tablet.png") repeat-x center bottom;
  }

  @media (min-width: @tablet-width) {
    background: none;
  }
}
