.result {
  min-height: 232px;

  @media (min-width: @desktop-width) {
    margin-left: 187px;
  }
}

.result__slider {
  background-color: transparent;
  margin: 0 auto 15px;
}

.result__range {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }
}
