.additional-product {
  margin-bottom: 35px;
}

.additional-product__parameters-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-product__item {
  font-family: @font-family-text;
  font-size: @font-size-text-mobile;
  font-weight: 400;
  color: @dark-grey;

  &--name {
    font-family: @font-family;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #222222;
  }

  &--volume {
    line-height: 20px;
  }

  &--price {
    line-height: 14px;
  }
}

.additional-product__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
