.product__link {
  text-decoration: none;
}

.product__title {
  font-family: @font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product__button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.product__parameters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: @dark-grey;
}

.product__info {
  font-family: @font-family-text;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}
