.product-parameters {
  width: 100%;
}

.product-parameters__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  font-family: @font-family-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @dark-grey;

  &:first-child {
    padding-right: 2px;
  }
}

.product-parameters__value {
  text-align: right;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

@media (min-width: @tablet-width) {
  .product-parameters__item {
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
