.product-parameters__item {
  display: flex;
  justify-content: space-between;
}

.product-parameters__name,
.product-parameters__value {
  font-family: @font-family-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    padding: 7px 0 9px;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}
