.promo {
  background: url("../../img/additional-catalog__promo-green.png") no-repeat,
    url("../../img/additional-catalog__promo-cat.png") no-repeat;
}

.promo__description {
  margin: 0 auto;
  padding-top: 187px;
  width: 161px;
  font-family: @font-family-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @color-light;
}
