.additional-options {
  padding-bottom: 34px;
}

.additional-options__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.additional-options__item {
  @media (min-width: @tablet-width) {
    width: 50%;
    padding-left: 44px;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
  }
}
