.owner-contacts {
  padding-bottom: 24px;
}

.owner-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.owner-contacts__item {
  @media (min-width: @desktop-width) {
    width: 570px;

    &:nth-child(odd) {
      margin-right: 80px;
    }
  }
}
