.page-form__title {
  margin-top: 27px;
  margin-bottom: 37px;
  font-family: @font-family;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @color-dark;
}

.page-form__description {
  margin-top: 0;
  margin-bottom: 39px;
  font-family: @font-family;
  font-size: @font-size-text-mobile;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @color-dark;
}
