.program-form {
  background-color: @color-light;
}

.program-form__field-group {
  margin: 0;
  padding: 0;
  border: none;
}

.program-form__subtitle {
  padding-top: 26px;
  padding-bottom: 35px;
  font-family: @font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @color-dark;
}

.program-form__main-button {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}

.program-form__small-legend {
  display: block;
  margin: 21px auto 32px;
  font-family: @font-family-text;
  font-weight: 400;
  font-size: @font-size-text-mobile;
  line-height: 16px;
  text-align: center;
  color: @color-dark;
}
