.address__info {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
}

.address__promo {
  min-width: 139px;
  font-family: @font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.address__details {
  font-family: @font-family-text;
  font-size: @font-size-text-mobile;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: @dark-grey;
}

.address__map {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

