.main-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: @light-grey;
}

.main-footer__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__HTMLAcademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 32px;
}
