.map {
  margin: 0;
  height: 362px;

  & iframe {
    display: block;
    border: none;
  }

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.map__frame {
  height: 362px;
  width: 100%;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
