.main-header {
  display: flex;
  align-items: center;
  min-height: 65px;
  background-color: @color-light;
}

.main-header__logo {
  display: inline-block;
  text-decoration: none;
}

.main-header__navigation {
  display: inline-block;
}
